<%- include('../partials/nav.ejs') %>
    <div id="top" class="sa-app__body">
        <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
            <div class="container">
                <div class="py-5">
                    <div class="row g-4 align-items-center">
                        <div class="col">
                            <h1 class="h3 m-0">Orders (<%= orders.length %>) </h1>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="p-4"><input type="text" placeholder="Start typing to search for orders"
                            class="form-control form-control--search mx-auto" id="table-search" /></div>
                    <div class="sa-divider"></div>
                    <table class="sa-datatables-init text-nowrap" data-order="[[ 1, &quot;desc&quot; ]]"
                        data-sa-search-input="#table-search">
                        <thead>
                            <tr>
                                <th class="w-min" data-orderable="false"><input type="checkbox"
                                        class="form-check-input m-0 fs-exact-16 d-block" aria-label="..." />
                                </th>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Customer</th>
                                <th>Paid</th>
                                <th>Status</th>
                                <th>Items</th>
                                <th>Pay Method</th>
                                <th>Total</th>
                                <th class="w-min" data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order, i)=> { %>
                            <tr>
                                <td><input type="checkbox" class="form-check-input m-0 fs-exact-16 d-block"
                                        aria-label="..." /></td>
                                <td><a href="/admin/oder_view/<%= order.id %>" class="text-reset">#<%= order.orderId %></a></td>
                                <td><%= order.createdAt.toLocaleDateString() %> %></td>
                                <td><a href="/admin/customer_view/<%= order.user.id %>" class="text-reset text-capitalize"><%= order.user.fullname %></a></td>
                                <td>
                                    <div class="d-flex fs-6">
                                            <% if (order.onlinepayment && order.onlinepayment.status) { %>
                                                <div class="badge badge-sa-success text-capitalize">
                                              <%= order.onlinepayment.status %>
                                            </div>
                                            <% } else { %>
                                                <div class="badge badge-sa-danger text-capitalize">
                                                    Un Paid
                                                </div>
                                            <% } %>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex fs-6">

                                          <% if (order.onlinepayment && order.onlinepayment.status === "created") { %>
                                            <div class="badge badge-sa-danger text-capitalize">
                                                payment failed
                                            </div>
                                        <% }else if(order.status === "new") { %>
                                            <div class="badge badge-sa-danger text-capitalize">
                                                <%= order.status %>
                                            </div>
                                        <% } else if (order.status === "pending") { %>
                                            <div class="badge badge-sa-primary text-capitalize">
                                                <%= order.status %>
                                            </div>
                                        <% } else if (order.status === "shipped") { %>
                                            <div class="badge badge-sa-success text-capitalize">
                                                <%= order.status %>
                                            </div>
                                        <% } else if (order.status === "delivered") { %>
                                            <div class="badge badge-sa-success text-capitalize">
                                                <%= order.status %>
                                            </div>
                                        <% } else if (order.status === "canceled") { %>
                                            <div class="badge badge-sa-secondary text-capitalize">
                                                <%= order.status %>
                                            </div>
                                        <% } %>                                        
                                    </div>
                                </td>
                                <td><%= order.orderProducts.length %> items</td>
                                <td><%= order.orderMethod %></td>
                                <td>
                                    <div class="sa-price"><span class="sa-price__symbol">₹</span><span
                                            class="sa-price__integer"><%= order.orderTotal %></span></div>
                                </td>
                                <td>
                                    <div class="dropdown"><button class="btn btn-sa-muted btn-sm" type="button"
                                            id="order-context-menu-0" data-bs-toggle="dropdown" aria-expanded="false"
                                            aria-label="More"><svg xmlns="http://www.w3.org/2000/svg" width="3"
                                                height="13" fill="currentColor">
                                                <path
                                                    d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                </path>
                                            </svg></button>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="order-context-menu-0">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Duplicate</a></li>
                                            <li><a class="dropdown-item" href="#">Add tag</a></li>
                                            <li><a class="dropdown-item" href="#">Remove tag</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a class="dropdown-item text-danger" href="/admin/orde_delete/<%= order.id %>">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>