<%- include('../partials/nav.ejs') %>
   <div id="top" class="sa-app__body">
      <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
         <div class="container container--max--xl">
            <div class="py-5">
               <div class="row g-4 align-items-center">
                  <div class="col">
                     <h1 class="h3 m-0">Add Coupon</h1>
                  </div>
                  <div class="col-auto d-flex"><a href="/admin/add_coupon" class="btn btn-primary">Add Coupon</a></div>
               </div>
            </div>
            <div class="sa-entity-layout"
               data-sa-container-query="{&quot;920&quot;:&quot;sa-entity-layout--size--md&quot;,&quot;1100&quot;:&quot;sa-entity-layout--size--lg&quot;}">
               <div class="sa-entity-layout__body">
                  <div class="sa-entity-layout__main">
                     <div class="card">
                        <div class="card-body p-5">
                           <div class="mb-5">
                              <h2 class="mb-0 fs-exact-18">Basic information</h2>
                           </div>
                           <form action="/admin/coupon_update/<%= coupon.id %>" method="post">
                              <div class="mb-4 d-flex gap-5">
                                 <label class="form-check">
                                    <input type="radio" class="form-check-input" name="status" value="Enabled" <% if (coupon.status === 'Enabled') { %>checked<% } %>>
                                    <span class="form-check-label">Enabled</span>
                                 </label>
                                 <label class="form-check">
                                    <input type="radio" class="form-check-input" name="status" value="Disabled" <% if (coupon.status === 'Disabled') { %>checked<% } %>>
                                    <span class="form-check-label">Disabled</span>
                                 </label>
                                 <label class="form-check mb-0">
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="mb-4"><label for="form-coupon/start-date" class="form-label">Start
                                          date</label><input type="text" class="form-control datepicker-here"
                                          id="form-coupon/start-date" data-auto-close="true" name="startDate"
                                          data-language="en" value="<%= coupon.startDate %>" /></div>
                                 </div>
                                 <div class="col-md-6">
                                    <div><label for="form-coupon/end-date" class="form-label">End
                                          date</label><input type="text" class="form-control datepicker-here"
                                          id="form-coupon/end-date" data-auto-close="true" name="endDate"
                                          data-language="en" value="<%= coupon.endDate %>" /></div>
                                 </div>
                              </div>
                              <div class="mb-4"><label for="form-coupon/code" class="form-label">Code</label><input
                                    type="text" class="form-control" id="form-coupon/code" name="code"
                                    placeholder="Enter Code" value="<%= coupon.code %>" />
                              </div>
                              <div class="mb-4">
                                 <div class="form-label mb-3">Type</div>
                                 <div class="d-flex gap-5">
                                    <label class="form-check"><input type="radio" class="form-check-input" name="type"
                                          value="Percentage" <% if (coupon.type === 'Percentage') { %>checked<% } %> />
                                          <span class="form-check-label">Percentage</span>
                                    </label>
                                    <label class="form-check"><input type="radio" class="form-check-input" name="type"
                                          value="Fixed amount" <% if (coupon.type === 'Fixed amount') { %>checked<% } %> />
                                          <span class="form-check-label">Fixed amount</span>
                                    </label>
                                    <label class="form-check mb-0"><input type="radio" class="form-check-input"
                                          name="type" value="Free shipping" <% if (coupon.type === 'Free shipping') { %>checked<% } %> />
                                          <span class="form-check-label">Free
                                          shipping</span>
                                    </label>
                                 </div>
                              </div>
                              <div class="mb-4"><label for="form-coupon/value" class="form-label">Discount
                                    value</label><input type="text" class="form-control" name="discountValue" id="form-coupon/value"
                                    value="<%= coupon.discountValue %>" />
                              </div>
                              <button class="btn btn-primary">Update</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script>
      var publishedRadio = document.querySelector('input[name="status"][value="Enabled"]');
      var hiddenRadio = document.querySelector('input[name="status"][value="Disabled"]');
      var scheduledRadio = document.getElementById("scheduledRadio");
      
      function updateDateInputState() {
          if (publishedRadio.checked || hiddenRadio.checked) {
              publishDateInput.setAttribute("disabled", "disabled");
          } else {
              publishDateInput.removeAttribute("disabled");
          }
      }
      
      publishedRadio.addEventListener("click", updateDateInputState);
      hiddenRadio.addEventListener("click", updateDateInputState);
      scheduledRadio.addEventListener("click", function () {
          if (scheduledRadio.checked) {
              publishDateInput.removeAttribute("disabled");
          }
      });
   </script>
   <%- include('../partials/footer.ejs') %>